ai
fig1_1.png
fig1_1.svg
fig1_2.png
fig1_2.svg
fig1_3.png
fig1_3.svg
fig1_3_v2.png
fig1_3_v2.svg
fig1_location.jpg
fig2_1.png
fig2_1.svg
fig2_2.png
fig2_2.svg
fig2_3.png
fig2_3.svg
fig2_shiplenght_ais_sat.png
fig2_shiplenght_ais_sat.svg
fig3_ships_david_style.png
fig3_ships_david_style.svg
fig4.png
fig4_1.png
fig4_1.svg
fig4_2a.png
fig4_2a.svg
fig4_2b.png
fig4_2b.svg
fig4_4.png
fig4_4.svg
fig4_5.png
fig4_5.svg
fig5.png
fig5.svg
fig5_1.png
fig_sat.JPG
fig_sat.png
fig_sat.svg
fig_sat_coord.JPG
fig_sat_zoomed.JPG
fig_sat_zoomed.png
fig_sat_zoomed.svg
sup_fig1.png
sup_fig1.svg
sup_fig22.png
sup_fig22.svg
sup_fig23.png
sup_fig23.svg
sup_fig4.png
sup_fig_digit_scatter_plot.png
sup_fig_digit_scatter_plot.svg
sup_fig_fa.png
sup_fig_fa.svg
sup_figx.png
sup_figx.svg
supfig_barplot.png
supfig_barplot.svg
